<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/clients.css">
    <title>Бульвар кофе</title>
    
    <link rel="icon" href="/src/favicon48.ico">
    <link rel="apple-touch-icon" href="/src/favicon512.png">

    <meta name="theme-color" content="#0d3528">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="bulevard owner">
</head>
<body>
    <style>
        .search {
            display: flex;
            flex-direction: row;
            position: relative;
            max-width: 300px;
            margin: 15px auto 0;
        }
        .search .input {
            width: 100%;
            height: 32px;
            border: none;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 10px 32px 10px 15px;
            outline: none;
        }
        .search .submit {
            position: absolute;
            right: 0;
            width: 32px;
            height: 32px;
            border: none;
            border-radius: 10px;
            background-color: #fff;
            align-items: center;
            display: flex;
        }
        .hint {
            font-size: 14px;
            margin: 2px auto 15px;
            width: fit-content;
            cursor: pointer;
        }

        .new-client {
            border: none;
            width: fit-content;
            padding: 5px 15px;
            margin: 5px auto 15px;
            border-radius: 10px;
            background-color: #fff;
        }
    </style>
    <div class="wrapper">
        <header>
            <div class="logo"></div>
            <div class="deskr" onclick="window.location.href='/admin'">Bulevard Coffee</div>
        </header>
        <div class="search">
            <input type="text" autofocus class="input">
            <button type="submit" class="submit" style="" onclick="window.location.href = `/search?input=${encodeURI(document.querySelector('.input').value)}`">
                <img style="width: 16px;" src="src/search.svg">
            </button>
        </div>

        {% if input != "" %}
            <div class="hint" onclick="document.querySelector('.input').value = '{{input}}'">Поиск по: <u>{{input}}</u></div>
        {% endif %}

        <div class="popup">
            <textarea class="name" placeholder="Имя"></textarea>
            <div class="phone"></div>
            <div class="uuid"></div>
            <div class="coffee_count"></div>
            <div>Новый заказ</div>
            <div class="order">
                <input type="text" class="coffee_increment numeric" value="1">
                <button class="add_coffee_increment" onclick="console.dir(coffee_increment.value = parseInt(coffee_increment.value) + 1)">+</button>
                <button class="save-order">Сохранить</button>
            </div>
            <button class="delete">Удалить</button>
        </div>
        <div class="cover"></div>

        <div class="new-client">Новый клиент</div>

        {% for key, clients in results.items() %}
            {% if clients|length != 0 %}
                <div style="margin: 0 auto; font-weight:600; font-size:22px; width:fit-content;">{{key}}</div>
                <div class="clients">
                    {% for client in clients %}
                        <div class="client{% if client.coffee_count % coffee_limit == coffee_limit-1 %} bonus{% endif %}"
                            uuid="{{client.public_id}}"
                            name="{{client.name}}"
                            phone="{{client.phone}}"
                            created_at="{{client.created_at}}"
                            last_update="{{client.last_update}}"
                            coffee_count="{{client.coffee_count}}"
                            visits="{{client.visits}}"
                            first_visit="{{client.first_visit}}"
                            spent="{{client.spent}}"
                            >
                            <div class="name">{{ client.name }}</div>
                            <div class="coffees">{% if client.coffee_count != 0 %}{{ client.coffee_count % coffee_limit + 1 }}{% else %}0{% endif %}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        const coffee_limit = {{coffee_limit}}
    </script>
    <script src="js/format.js"></script>
    <script src="js/popup.js"></script>
    <script>
        document.querySelector(".new-client").addEventListener("click", e => {
            
            popup.style.display = "flex"
            cover.style.display = "block"
            coffee_increment.value = 1
            document.body.style.overflow = "hidden"
            popup.querySelector(".delete").style.display = "none"
            popup.querySelector(".uuid").innerText = ""
            popup.querySelector(".coffee_count").innerText = ""
            popup.querySelector(".phone").innerHTML = '<div style="display:flex; align-items: center;">Телефон: <input placeholder="+71234567890" style="border:none; width:100%; box-sizing:border-box; border-radius: 10px;padding: 5px 15px;"></div>'
            {% if not input.startswith("+") and not variable is number %}
                popup.querySelector(".name").value = '{{input}}'
            {% else %}
                popup.querySelector(".phone").innerText = '<div style="display:flex; align-items: center;">Телефон: <input placeholder="+71234567890" style="border:none;  width:100%; box-sizing:border-box; border-radius: 10px;padding: 5px 15px;" value="{{input}}"></div>'
            {% endif %}

            popup.querySelector(".save-order").onclick = async (el) => {
                let i = parseInt(coffee_increment.value)
                answer = await fetch(`/newClient?name=${encodeURI(popup.querySelector(".name").value)}&phone=${encodeURI(popup.querySelector(".phone input").value)}`)
                uuid = (await answer.text())
                await fetch(`/newOrder?id=${uuid}&count=${coffee_increment.value}`)
                window.location.href = `/search?input=${encodeURI(popup.querySelector(".name").value)}`
            }
        })
    </script>
</body>
</html>