
.popup {
    width: 70vw;
    max-width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    display: none;
    z-index: 2;
    flex-direction: column;
    gap: 10px;
}
.popup div {
    width: 100%;
}
.popup .name {
    font-size: 24px;
    font-weight: bold;
    outline: none;
    resize: none;
    border: none;
    transition-duration: .2s;
    border-radius: 10px;
}
.popup .phone a {
    color: #000;
    text-decoration: none;
}
.popup .delete {
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 8px;
    width: fit-content;
    margin-top: 20px;
}
.popup .save-order {
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
}
.popup .coffee_increment {
    width: 30px; 
    border: none;
    border-radius: 8px;
    padding: 5px 15px; 
    text-align: center;
}
.popup .order {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.popup .add_coffee_increment {
    border-radius: 50%;
    border: none;
    width: 25px;
    transform: translateX(-15px);
}

.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: #00000021;
}

.client {
    display: flex;
    gap: 10px;

    padding: 10px 0;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    min-width: 230px;
    justify-content: space-between;
    box-sizing: border-box;
}

.client .coffees {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    font-size: 22px;
    color: #000;
    border: 1px solid #e4e4e4;
    font-weight: 600;
}
.client.bonus .coffees {
    color: #ffffff;
    background-color: #064530;
    border: none;
    width: 38px;
    height: 38px;
}
.client .name {
    font-weight: bold;
    font-size: 18px;
}
.client .phone {
    color: #8C8C8C;
    font-size: 12px;
}
.clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    padding: 20px 10px;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}
.clients svg:last-child {
    display: none;
}

.new-client {
    width: 70px;
    height: 70px;
    background-color: #000;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hint {
    font-weight: bold;
    color: #8b8b8b;
    display: flex;
    justify-content: center;
}
.splitter {
    display: none;
}
@media (max-width: 530px) {
    .clients {
        flex-direction: column;
        width: fit-content;
    }
    .client {
        width: 100%;
    }
    .splitter {
        display: block;
    }

}