@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    appearance: none;
}

html, body {
    padding: 0;
    margin: 0;
}

.wrapper header {
    display: flex;
    justify-content: center;
    padding: 10px 0 0;
}
.wrapper {
    min-height: 100svh;
    background-color: #ffffff;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    padding: 12px;
    background-color: #000;
}
nav div, nav a {
    text-decoration: none;
    color: #000;
    background-color: #fff;

    height: 38px;
    min-width: 38px;
    border-radius: 12px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav input {
    font-family: "Inter", sans-serif;
    appearance: none;
    height: 38px;
    width: 100%;
    border: none;
    border-radius: 12px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    padding: 11px 40px 11px 16px;
}